
.video-description {
  position: absolute;
  bottom: 80px; // just above bottom nav
  left: 16px;
  color: white;
}

.video-username{
    color: white;
    font-size: 12px;
}
.video-description-text {
  color: white;
}
.video-music {
  color: white;
}