pip install --upgrade pip setuptools wheel

pip install dashscope --no-deps
pip install qwen-vl-utils --no-deps

pip install appium-python-client \
selenium \
langchain \
langchain-community \
langchain-core \
langgraph \
langgraph-prebuilt \
openai \
pillow \
pydantic \
streamlit \
python-dotenv \
dataclasses-json \
typing-extensions \
pyarrow \
qwen-agent \
torch \
torchvision
dotenv
python-dateutil
ipython
inference-sdk
supervision
opencv-python
rapidfuzz

pip install aiohttp cryptography websocket-client \
langgraph-checkpoint==2.1.0 langgraph-sdk==0.2.4 "xxhash>=3.5.0"
