
appium-python-client
selenium
langchain
langchain-community
langchain-core
langgraph
langgraph-prebuilt
openai
dashscope
pillow
qwen-vl-utils
pydantic
streamlit
python-dotenv
dataclasses-json
typing-extensions
pyarrow
qwen-agent
torch
torchvision